<app-list-template
  [title]="'Lista de Contratos'"
  [showTitle]="true"
  [toAdd]="toAdd"
  [options]="true"
  [cols]="cols"
  [data]="data"
  [lazy]="true"
  [totalRecords]="totalRecords"
  [loading]="false"
  [filtersGlobal]="filtersGlobal"
  (loadLazy)="load($any($event))"
  (dateQuery)="queryDate($event)"
  (update)="update($event)"
  (delete)="delete($event)"
  (exportPage)="exportAsXLSX()"
  (reload)="rechargeTable()"
  (onRowSelectionChange)="onSelectionChange($any($event))"
  (create)="create()"
></app-list-template>

<p-dialog
  [(visible)]="isDisplayForm"
  [style]="{ width: '90vw', maxWidth: '1000px' }"
  [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
  [header]="titleForm"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [modal]="true"
  [baseZIndex]="10000"
  appendTo="body"
  styleClass="contract-dialog"
  (onHide)="closeDialog()"
>
  @if (isFormVisible) {
    <app-form-template
      [width]="'1000px'"
      [title]="titleForm"
      [isVisible]="isFormVisible"
      [isEdit]="isEditForm"
      [initialData]="initialData"
      [form]="formContract"
    >
    </app-form-template>
  }

  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button label="Cancelar" [text]="true" severity="secondary" (click)="closeDialog()" />
      <p-button label="Guardar" [outlined]="true" severity="primary" (click)="save()" />
    </div>
  </ng-template>
</p-dialog>

