// importa los iconos de PrimeIcons
:host {
  display: block;
  height: 100%;
}

.sidebar {
  width: 16rem;
  min-height: 100vh;
  background: rgb(47, 60, 84);
  box-shadow: 0 24px 30px 14px rgba(72, 60, 138, 0.247);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  z-index: 200;
  overflow: auto;
}

.sidebar .sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-surface-contrast);
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.sidebar .sidebar-logo .sidebar-logo-img {
  padding: 10px;
  margin-top: 1rem;
  width: 90px;
  height: 70px;
  object-fit: contain;
  background-color: var(--backgraund-surface);
  border-radius: 8px;
}

.sidebar .sidebar-logo .sidebar-logo-text {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--backgraund-surface);
  text-align: center;
  user-select: none;
}

.sidebar nav {
  width: 100%;
  padding: 15px;
}

.sidebar nav .sidebar-menu {
  list-style: none;
  padding: 10px;
  margin: 0;
  color: var(--color-white);
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
}

.sidebar nav .sidebar-menu .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar nav .sidebar-menu .item a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
}

.sidebar nav .sidebar-menu .item a:hover,
.sidebar nav .sidebar-menu .item a.active {
  color: white;
}

.sidebar nav .sidebar-menu .item a.active {
  border-left: 2px solid #5e7af4;
}

.sidebar nav .sidebar-menu .item .icon-change {
  font-size: 14px;
  min-width: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: rgba(255, 255, 255, 0.55);
}

.sidebar nav .sidebar-menu .submenu {
  max-height: 600px;
  list-style: none;
  padding-left: 12px;
  margin: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, max-height 0.3s ease;
}

.sidebar nav .sidebar-menu .submenu li {
  margin-bottom: 5px;
}

.sidebar nav .sidebar-menu .submenu a {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px;
  margin-left: 2px;
  border-left: 2px solid transparent;
}

.sidebar nav .sidebar-menu .submenu a.active,
.sidebar nav .sidebar-menu .submenu a:hover {
  color: var(--color-white);
  border-left: 2px solid #5e7af4;
  background-color: var(--bg-surface-contrast);
}

.sidebar nav .sidebar-menu .submenu a i.pi {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.sidebar nav .sidebar-menu .submenu.hidden-submenu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 16rem;
    z-index: 300;
    box-shadow: none;
  }
}

